:root {
  --primary-color: #feb11e;
  --secondary-color: #000000;
  --text-color: #ffffff;
  --gradient-start: #0d0d0d;
  --gradient-end: #1a1a1a;
}

/* General footer styles */
.footer_wrapper {
  background-color: #333;
  color: #fff;
  padding: 60px 0;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.contact_form {
  width: 50%;
  background-color: var(--gradient-end);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.contact_form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: var(--text-color);
  box-sizing: border-box;
}

.contact_form input:focus,
.contact_form textarea:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 10px var(--primary-color);
}

.contact_form button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #333;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.contact_form button:hover {
  background-color: #af7914;
  color: #000;
}

#form-messages {
  margin-top: 20px;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
}

.error {
  color: white;
  background-color: #f44336;
  padding: 10px;
  border-radius: 5px;
}

.success {
  color: white;
  background-color: #4caf50;
  padding: 10px;
  border-radius: 5px;
}

.success-message,
.error-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.success-message {
  background-color: #4caf50;
}

.error-message {
  background-color: #f44336;
}

/* Social Links */
.social_links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social_links li {
  margin: 0 10px;
}

.social_links li a {
  color: #fff;
  font-size: 24px;
}

.footer_bottom {
  text-align: center;
  margin-top: 20px;
}

.footer_bottom span {
  font-size: 14px;
}

.footer_bottom a.reload {
  color: var(--primary-color);
}

.container {
  padding: 0;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .footer-wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact_form,
  .contact_info,
  img {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact_form button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .footer-wrap {
    padding: 10px;
  }

  .contact_form {
    padding: 15px;
  }

  .contact_form h2 {
    font-size: 1.5em;
  }

  .contact_form input,
  .contact_form textarea {
    padding: 8px;
  }

  .contact_form button {
    padding: 10px;
  }

  .social_links li a {
    font-size: 20px;
  }
}
